{%extends "base.html"%}
{%block title%} Artwork: {{name}} {%endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Title: {{name}}</p>
                <p>Date: {{date}}</p>
                <p>Materials: {{materials}}</p>
                <p>Collection: {{collection}}</p>
                <p>Creators: {{creators}}</p>
                <p><a href="{{url}}" target="_blank">Data source</a></p>
            </div>
        </div>
        <div class="row">
        {%for img_url in images%}
        <div class="col">
            <img src="{{img_url}}" alt="Image description" style ="max-width: 750px; max-height: 750px">
        </div>
        {%endfor%}
        </div>
    </div>
{% endblock %}