{%extends "base.html"%}
{%block title%} Artwork: {{name}} {%endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Title: {{obj['title']}}</p>
                <p>Date: {{obj['date']}}</p>
                <p>Materials: {{obj['materials']}}</p>
                <p>Collection: {{obj['collection']}}</p>
                <p>Creators: {{obj['creators']}}</p>
                <p><a href="{{obj['data_sourcce']}}" target="_blank">Data source</a></p>
            </div>
        </div>
        <div class="row">
        {%for img_url in obj['images']%}
        <div class="col">
            <img src="{{img_url}}" alt="Image description" style ="max-width: 100%; max-height: 1000px">
        </div>
        {%endfor%}
        </div>
    </div>
{% endblock %}